
*.o
*.su
Debug/Core/Src/fsm.o
*.su
*.elf
Debug/motorcontrol_stm32g474re.elf
*.bin
*.su
*.o
*.o
*.su
Debug/Core/Src/fdcan.o
Debug/Core/Src/fdcan.su
Debug/Core/Src/foc.o
Debug/Core/Src/main.o
Debug/Core/Src/main.su
Debug/Core/Src/math_ops.o
Debug/Core/Src/math_ops.su
Debug/motorcontrol_stm32g474re.bin
Debug/motorcontrol_stm32g474re.elf
Debug/motorcontrol_stm32g474re.list
Debug/motorcontrol_stm32g474re.map
Debug/Core/Src/fdcan.o
Debug/Core/Src/fdcan.su
Debug/Core/Src/foc.o
Debug/Core/Src/main.o
Debug/Core/Src/main.su
Debug/Core/Src/math_ops.o
Debug/Core/Src/math_ops.su
Debug/motorcontrol_stm32g474re.bin
Debug/motorcontrol_stm32g474re.elf
Debug/motorcontrol_stm32g474re.list
Debug/motorcontrol_stm32g474re.map
